In [30]:
import pandas as pd

In [31]:
dataset = pd.read_csv('Financial_inclusion_dataset.csv')

In [32]:
dataset.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [34]:
dataset.describe()

               year  household_size  age_of_respondent
count  23524.000000    23524.000000       23524.000000
mean    2016.975939        3.797483          38.805220
std        0.847371        2.227613          16.520569
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          49.000000
max     2018.000000       21.000000         100.000000

In [35]:
dataset.drop(columns=('uniqueid'), axis =1, inplace = True)

In [36]:
dataset.head(1)

,country,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed

In [37]:
dataset.columns

Index(['country', 'year', 'bank_account', 'location_type', 'cellphone_access',
       'household_size', 'age_of_respondent', 'gender_of_respondent',
       'relationship_with_head', 'marital_status', 'education_level',
       'job_type'],
      dtype='object')

In [38]:
dataset['job_type'].unique()

array(['Self employed', 'Government Dependent',
       'Formally employed Private', 'Informally employed',
       'Formally employed Government', 'Farming and Fishing',
       'Remittance Dependent', 'Other Income',
       'Dont Know/Refuse to answer', 'No Income'], dtype=object)

In [39]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

In [40]:
dataset['country'] = lb.fit_transform(dataset['country'])
dataset['bank_account'] = lb.fit_transform(dataset['bank_account'])
dataset['location_type'] = lb.fit_transform(dataset['location_type'])
dataset['cellphone_access'] = lb.fit_transform(dataset['cellphone_access'])
dataset['gender_of_respondent'] = lb.fit_transform(dataset['gender_of_respondent'])
dataset['relationship_with_head'] = lb.fit_transform(dataset['relationship_with_head'])
dataset['marital_status'] = lb.fit_transform(dataset['marital_status'])
dataset['education_level'] = lb.fit_transform(dataset['education_level'])
dataset['job_type'] = lb.fit_transform(dataset['job_type'])

In [41]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()

In [42]:
dataset.shape

(23524, 12)

In [43]:
x = dataset.drop(columns=('bank_account'), axis =1)
y = dataset['bank_account']

In [44]:
x

,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,0,2018,0,1,3,24,0,5,2,3,9
1,0,2018,0,0,5,70,0,1,4,0,4
2,0,2018,1,1,5,26,1,3,3,5,9
3,0,2018,0,1,5,34,0,1,2,2,3
4,0,2018,1,0,8,26,1,0,3,2,5
...,...,...,...,...,...,...,...,...,...,...,...
23519,3,2018,0,1,4,48,0,1,0,0,7
23520,3,2018,0,1,2,27,0,1,3,3,7
23521,3,2018,0,1,5,27,0,4,4,2,7
23522,3,2018,1,1,7,30,0,4,0,3,9
23523,3,2018,0,1,10,20,1,0,3,3,6

In [45]:
y

0        1
1        0
2        1
3        0
4        0
        ..
23519    0
23520    0
23521    0
23522    0
23523    0
Name: bank_account, Length: 23524, dtype: int32

In [46]:
x = mm.fit_transform(x)

In [47]:
x

array([[0.        , 1.        , 0.        , ..., 0.5       , 0.6       ,
        1.        ],
       [0.        , 1.        , 0.        , ..., 1.        , 0.        ,
        0.44444444],
       [0.        , 1.        , 1.        , ..., 0.75      , 1.        ,
        1.        ],
       ...,
       [1.        , 1.        , 0.        , ..., 1.        , 0.4       ,
        0.77777778],
       [1.        , 1.        , 1.        , ..., 0.        , 0.6       ,
        1.        ],
       [1.        , 1.        , 0.        , ..., 0.75      , 0.6       ,
        0.66666667]])

In [48]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(x,y,test_size = 0.3, random_state = 42)

In [49]:
##support vector machine (SVM)
from sklearn.svm import SVC

model = SVC()
model.fit(x_train, y_train)

SVC()

In [50]:
y_pred = model.predict(x_test)

In [51]:
model.score(x_test, y_test)

0.880277699064891

In [52]:
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

print(cm)
print(cr)

[[6005   68]
 [ 777  208]]
              precision    recall  f1-score   support

           0       0.89      0.99      0.93      6073
           1       0.75      0.21      0.33       985

    accuracy                           0.88      7058
   macro avg       0.82      0.60      0.63      7058
weighted avg       0.87      0.88      0.85      7058

In [53]:
from sklearn.tree import DecisionTreeClassifier

model2 = DecisionTreeClassifier(criterion = 'entropy', max_depth = 4, min_samples_leaf = 6, min_samples_split = 2,
                                splitter = 'best')
model2.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4, min_samples_leaf=6)

In [54]:
model2.score(x_test, y_test)

0.8790025502975347

In [55]:
from joblib import dump

In [56]:
dump(model, 'streamlit2_model.joblib')

['streamlit2_model.joblib']